

[main-container] [inner-container] [right]{
    display:none;
    background-color: unset;
}

[main-container] [inner-container] [left]{
    background-color: var(--bg-grey);
    display:block;  
}


[main-container] [inner-container] [form-container]{
    padding: 10px 30px 10px 30px;
   
}
[main-container] [inner-container] [form-container] [top]{
    margin-bottom: 100px;
}
[forgot-password]{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    padding-right: 15px;
}
[forgot-password] a{
    color: var(--main);
    font-size: .8rem;
}


@media only screen and (min-width: 760px){
    
    [main-container] [inner-container] [right]{
        display:block;
    }

    [main-container] [inner-container] [left]{
        display:block;
        
        overflow-y: scroll;
        overflow-x: hidden;
    }

    [main-container] [inner-container] [form-container]{
        padding: 110px 50px 10px 50px;
    }
}