
body{
    background-color: var(--bg-grey);
}

[outer-container]{
    display: block;
    width: 100%;
}

[main-container]{
    display: block;
    width: 100%;
    background-color: rgba(100, 100, 100,.5);
    position: relative;

}

[main-container] [backdrop]{
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-grey);
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    z-index: -1;
}
[main-container] [backdrop] img{
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    filter: blur(1px);
    opacity: .7;
}

[main-container] [inner-container]{
    width: 100%;
    display: block;
}

[main-container] [inner-container] [left],[main-container] [inner-container] [right]{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    
}

[main-container] [inner-container] [left]{
    display:none;
}

[main-container] [inner-container] [right]{
    background-color: var(--bg-grey);
    display:block;  
}

[main-container] [inner-container] [detail-container]{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px 50px;
}

[main-container] [inner-container] [detail-container] h1{
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
}

[main-container] [inner-container] [detail-container] h3{
    color: #fff;
    text-align: center;
    font-size: .85rem;
}

[main-container] [inner-container] [form-container]{
    width: 100%;
    padding: 10px 15px;
}

[main-container] [inner-container] [form-container] h1{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--main);
}

[main-container] [inner-container] [form-container] h3{
    font-size: .95rem;
    color: var(--txt-on-grey);
    font-weight: 400;
    margin-bottom: 35px;
}


[block-sumbit] a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: .85rem;
    font-weight: 600;
    border-radius: 6px;
    color: #fff !important;
    margin-top: 20px;
    margin-bottom: 18px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: .2s ease;
}
[block-sumbit] a:hover{
    color: var(--main) !important;
    background-color: #fff;
    text-decoration: none;
}


[or-divider]{
    display: flex;
    justify-content: center;
    position: relative;
}
[or-divider]::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--main);  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
[or-divider] span{
    background-color: var(--bg-grey);
    padding: 5px 15px;
    z-index: 2;
    color:var(--main);
    font-size: .8rem;  
}



[login-options]{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
[login-options] button{
    border: none;
    background-color: #fff;
    padding: 10px 30px ;
    border-radius: 5px;
    cursor: pointer;
    
}
[login-options] button img{
    width: 15px;
}



[main-container] [inner-container] [form-container] [top]{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
[main-container] [inner-container] [form-container] [top] a{
    text-decoration: none;
    border:1px solid var(--main);
    font-size: .85rem;
    color: var(--main);
    padding: 10px 20px;
    border-radius: 5px;
}
























































/**Desktop**/
@media only screen and (min-width: 760px){

    body{
        background-color: unset;
    }
    [outer-container]{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    [main-container]{
        display: block;
        width: 800px;
        height: 570px;
        padding: unset;
    }

    [main-container] [backdrop]{
        display:block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    [main-container] [inner-container]{
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }

    [main-container] [inner-container] [left],[main-container] [inner-container] [right]{
        width: 50%;
        height: unset;
        padding:unset;
    }

    [main-container] [inner-container] [left]{
        display:block;
    }

    [main-container] [inner-container] [right]{
        display:block;
        
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    [main-container] [inner-container] [detail-container]{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [main-container] [inner-container] [form-container]{
        padding: 40px 50px 10px 50px;
    }

    [main-container] [inner-container] [form-container] h1{
        font-size: 1.4rem;
    }
    
    [main-container] [inner-container] [form-container] h3{
        font-size: .85rem;
        margin-bottom: 35px;
    }

    [login-options]{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    [login-options] button{
        padding: 10px 35px ;
    }

    
    
}